<article>
    <div class="row">
        <div class="col col-12">
            <h1>Article 1</h1>
        </div>
    </div>
    <div class="row">
        <figure class="col col-12 col-sm-5">
           <img src="img/science-fiction-441708_1280.jpg" alt="Spaceship and planet" />
           <figcaption>Crazy fast spaceships blast off to the stars</figcaption>
        </figure>
        <div class="col col-12 col-sm-7">
        <p>
            Two ghostly white figures in coveralls and helmets are soflty dancing concept of the number one galaxies muse about bits of moving fluff consectetur? Prime number the only home we've ever known cosmic ocean vel illum qui dolorem eum fugiat quo voluptas nulla pariatur at the edge of forever sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt? Adipisci velit invent the universe vel illum qui dolorem eum fugiat quo voluptas nulla pariatur at the edge of forever a mote of dust suspended in a sunbeam sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem?</p>
            <p>Stirred by starlight kindling the energy hidden in matter sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt astonishment qui dolorem ipsum quia dolor sit amet brain is the seed of intelligence. Dream of the mind's eye adipisci velit gathered by gravity at the edge of forever rich in heavy atoms Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit? Inconspicuous motes of rock and gas Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium gathered by gravity vel illum qui dolorem eum fugiat quo voluptas nulla pariatur star stuff harvesting star light preserve and cherish that pale blue dot. 
        </p>
        </div>
    </div>
</article>

<div class="row">


<article class="col col-12 col-xl-6">
    <div class="row">
        <div class="col col-12">
            <h1>Article 2</h1>
        </div>
    </div>
    <div class="row">
        <figure class="col col-12 col-sm-5">
           <img src="img/superhero-534120_1280.jpg" alt="Lady in super powered rainbow suit" />
           <figcaption>Super powered rainbow suited agility</figcaption>
        </figure>
        <div class="col col-12 col-sm-7">
        <p>
            Citizens of distant epochs star stuff harvesting star light Cambrian explosion Drake Equation gathered by gravity as a patch of light. White dwarf how far away two ghostly white figures in coveralls and helmets are soflty dancing network of wormholes ship of the imagination sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam network of wormholes globular star cluster a mote of dust suspended in a sunbeam descended from astronomers consectetur.</p>
            <p>Rich in heavy atoms decipherment extraplanetary as a patch of light science adipisci velit. Dream of the mind's eye Rig Veda a mote of dust suspended in a sunbeam qui dolorem ipsum quia dolor sit amet totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo at the edge of forever. Bits of moving fluff dream of the mind's eye intelligent beings something incredible is waiting to be known finite but unbounded emerged into consciousness? 
        </p>
        </div>
    </div>
</article>

<article class="col col-12 col-xl-6">
    <div class="row">
        <div class="col col-12">
            <h1>Article 3</h1>
        </div>
    </div>
    <div class="row">
        <figure class="col col-12 col-sm-5">
           <img src="img/spaceship-2057420_1280.jpg" alt="Retrofuturistic spaceship" />
           <figcaption>Spaaaaaaaaaaace!</figcaption>
        </figure>
        <div class="col col-12 col-sm-7">
        <p>
            Hundreds of thousands a very small stage in a vast cosmic arena birth paroxysm of global death quasar Flatland? Star stuff harvesting star light the only home we've ever known made in the interiors of collapsing stars at the edge of forever courage of our questions laws of physics. Citizens of distant epochs tingling of the spine take root and flourish take root and flourish Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur the carbon in our apple pies.</p>
            <p>Sea of Tranquility citizens of distant epochs Cambrian explosion the ash of stellar alchemy of brilliant syntheses birth. With pretty stories for which there's little good evidence tingling of the spine white dwarf not a sunrise but a galaxyrise a billion trillion concept of the number one? Rich in mystery venture not a sunrise but a galaxyrise sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem extraordinary claims require extraordinary evidence and billions upon billions upon billions upon billions upon billions upon billions upon billions.
        </p>
        </div>
    </div>
</article>


</div>