<div class="row">
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/bee-2984342_1280.jpg" alt="Robotic and organic bees" />
        <figcaption>Robot bees will rule the world</figcaption>
    </figure>
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/light-bulb-3104355_1280.jpg" alt="A small robot plugging in an appliance" />
        <figcaption>Tiny glowing robots will do our bidding</figcaption>
    </figure>
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/mars-67522_1280.jpg" alt="Mars Rover" />
        <figcaption>Take your vacation on Mars</figcaption>
    </figure>
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/photo-manipulation-1825450_1280.jpg" alt="Spaceships attacking a city" />
        <figcaption>Befriend the alien</figcaption>
    </figure>
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/robot-3010309_1280.jpg" alt="Mechanical woman's head" />
        <figcaption>Change your face at will</figcaption>
    </figure>
    <figure class="col col-12 col-sm-6 col-xl-4">
        <img src="img/wormhole-2514312_1280.jpg" alt="Black hole in space" />
        <figcaption>Watch out for that black hooooooole!</figcaption>
    </figure>
</div>